<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>モバアル / ごらくブログ 確認用</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <p><a href="/mbal" class="mbal">モバアル</a></p>
    <p><a href="/grkb" class="grkb">ごらく部</a></p>
</boby>
</html>